#comment-form .jstEditor {
	padding-left: 5px;
}
#comment-form .jstEditor textarea {
  margin: 0;
  border: 0;
  width:98%;
	border-style: solid;
	border-width: 1px;
	border-color: #666;
}
#comment-form .jstEditor iframe {
  margin: 0;
  border: 0;
}

#comment-form .jstHandle {
	height: 16px;
	font-size: 0.1em;
	cursor: s-resize;
	background: transparent url(img/wikibar/resizer.png) no-repeat 51% 50%;
}

#comment-form .jstElements {
	padding: 3px 3px;
}

#comment-form .jstElements button {
	margin-right : 5px;
	width : 24px;
	height: 24px;
	padding: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #666;
	background-color : #333;
	background-position : 50% 50%;
	background-repeat: no-repeat;
}
#comment-form .jstElements button:hover {
	border-color : #000;
}
#comment-form .jstElements button span {
	display : none;
}
#comment-form .jstElements span {
	display : inline;
}

#comment-form .jstSpacer {
	width : 0px;
	font-size: 1px;
	margin-right: 4px;
}

/* Buttons
-------------------------------------------------------- */
#comment-form .jstb_strong {
	background-image: url(img/wikibar/bt_strong.png);
}
#comment-form .jstb_em {
	background-image: url(img/wikibar/bt_em.png);
}
#comment-form .jstb_ins {
	background-image: url(img/wikibar/bt_ins.png);
}
#comment-form .jstb_del {
	background-image: url(img/wikibar/bt_del.png);
}
#comment-form .jstb_quote {
	background-image: url(img/wikibar/bt_quote.png);
}
#comment-form .jstb_code {
	background-image: url(img/wikibar/bt_code.png);
}
#comment-form .jstb_br {
	background-image: url(img/wikibar/bt_br.png);
}
#comment-form .jstb_ul {
	background-image: url(img/wikibar/bt_ul.png);
}
#comment-form .jstb_ol {
	background-image: url(img/wikibar/bt_ol.png);
}
#comment-form .jstb_link {
	background-image: url(img/wikibar/bt_link.png);
}
#comment-form .jstb_pre, #comment-form .jstb_bquote {
	display:none;
}
